[Desktop Entry]
Name=Calendar WL
Comment=Month display with your appointments and events
Icon=office-calendar
Type=Service
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-Name=org.kde.plasma.calendar.wl
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-Provides=org.kde.plasma.date
X-Plasma-StandAloneApp=true

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Date and Time
